
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
  @apply flex flex-col p-4 max-w-sm mx-auto mt-10 space-y-4 bg-white shadow-md rounded-lg;
}

.input-field {
  @apply px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.login-button {
  @apply px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50;
}

table {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400
}

.table-content {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400
}

thead {
  @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400
}

th {
  @apply py-3 px-6
}

tr {
  @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700
}

td {
  @apply py-4 px-6
}

.div-table {
  @apply overflow-x-auto relative shadow-md sm:rounded-lg
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(230, 230, 230);
}








